<h1 class="header2">About Us</h1>
 <div class="aboutContainer">
         <p>Welcome to the Fraya's Salon where out services are out of this World!! This is a website where stylists and clients can be added you can even view the styles they prefer So Enjoy!</p>
         <p></p>
 </div>